*{
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box !important ;
    font-family: "Poppins", sans-serif;
    /* outline: solid 1px skyblue; */
}
.myNav{
    padding: 10px 50px !important;
    background-color: white;
}
.logo p{
    font-size: 20px;
    font-weight: 600;
}
.logo p span{
    color: #006A63;
}
.myNav ul{
    font-size: 14px;
    color: #006A63;
}
.myNav li{
    cursor: pointer;
}
.downloadBtn{
    border: none;
    border-radius: 8px;
    font-size: 14px;
    padding: 10px 20px !important;
    background-color: #091426;
    color: white;
    font-weight: 500;
    transition: .3s ease;
}
.downloadBtn:hover{
    background-color: #006A63;
}
.sec1{
    padding: 100px 50px !important;
    background-image: linear-gradient(40deg, white 50%, #bef4ed );
    display: flex;
    justify-content: space-between;
    gap: 70px;
}
.subsec1{
    width: 50%;
}
.available{
    background-color: #99EFE5;
    display: inline;
    font-size: 12px;
    font-weight: 500;
    padding:5px 15px !important;
    border-radius: 20px;
}
.myName{
    margin: 30px 0 !important;
}
.myName h1{
    font-weight: bold;
    font-size: 72px;
}
.myName h2{
    font-size: 37px;
}
.myName h1 span{
    color: #006A63;
}
.aboutMe{
    font-size: 18px;
    margin: 20px 0 !important;
}
.hireMeBtn{
    border: none;
    border-radius: 8px;
    font-size: 14px;
    padding: 10px 20px !important;
    background-color: #E6E8EA;
    font-weight: 500;
    color: black;
    transition: .3s ease;
}
.hireMeBtn:hover{
    background-color: #99EFE5;
}
.myProfile{
    background-color: black;
    height: 100%;
    width: 100%;
    max-width: 420px ;
    border-radius: 20px;
    background-image: url(./media/mypic.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto !important;
    position: relative;
}
.expYears{
    background-color: #006A63;
    color: white;
    display: inline-block;
    padding: 30px !important;
    border-radius: 20px;
    position: absolute;
    bottom: -7%;
    left: -7%;
}
.expYears h3{
    font-size: 30px ;
}
.expYears p{
    font-size: 12px;
    letter-spacing: 3px;
}





@media (max-width:768px) {
    .myNav{
        padding:10px 20px !important;
    }
    .myNav ul{
        display: none !important;
    }
    .sec1{
        flex-direction: column;
        padding: 20px !important;
    }
    .subsec1{
        width: 100%;
    }
    .myName h1{
        font-size: 48px;
    }
    .myProfile{
        /* width: ; */
        height: 500px;
    }
    .expYears{
        padding: 0 I!important;
        display: none;
    }
    
}
